/* General page styles */
.home-page {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

/* Hero section styles */
.hero-section {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('https://img.thedailybeast.com/image/upload/c_crop,d_placeholder_euli9k,h_1440,w_2560,x_0,y_0/dpr_2.0/c_limit,w_740/fl_lossy,q_auto/v1552084297/afawwwfa_i2oq5t');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
    max-width: 800px;
    padding: 20px;
    color: white;
}

.hero-title {
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.hero-description {
    font-size: 1.2em;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
}

.cta-button {
    background-color: #29d89e;
    color: white;
    padding: 12px 24px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #23b387;
}

/* Responsive design */
@media (max-width: 768px) {
    .hero-title {
        font-size: 2em;
    }

    .hero-description {
        font-size: 1em;
    }

    .cta-button {
        font-size: 1em;
        padding: 10px 20px;
    }
}

@media (max-width: 576px) {
    .hero-title {
        font-size: 1.8em;
    }

    .hero-description {
        font-size: 0.9em;
    }

    .cta-button {
        font-size: 0.9em;
        padding: 8px 18px;
    }
}